.joke {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.3rem 0;
    padding: 1rem;
    background-color: #e7e7e7;
}

.tag-container {
    display: flex;
    justify-content: flex-end;
}

.tag-container__elem {
    background-color: yellow;
}