.joke-metrics-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.3rem 0;
    padding: 1rem;
    background-color: #9fe4a2;
}

.joke-metrics-container__heading {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5rem;
    color: #7b2a2a;
    margin-bottom: 0.5rem;
}